In [2]:
import sys
sys.path.append('C:\Python27\ArcGIS10.3\Lib\site-packages')
import pg
from pg import DB

In [3]:
db = DB(dbname = 'geog465_hyunkyu', host = 'geog-db2.geog.uw.edu', port = 5432, user = 'hyunkyu', passwd = 'hyunkyu')

In [4]:
db.query('create table BuildingPermit (id int PRIMARY KEY, PermitNumber varchar(40) NOT NULL, PermitStatus varchar(40) NOT NULL)')

ProgrammingError: ERROR:  relation "buildingpermit" already exists

In [7]:
db.query('drop table Value')

In [6]:
#applicantname table
db.query('create table ApplicantName (id int NOT NULL, Name varchar(100) NOT NULL, BuildingPermit_id int REFERENCES BuildingPermit(id), CONSTRAINT ApplicantName_pk PRIMARY KEY (id))')

In [36]:
#Create Permittype table
db.query('create table PermitType (id int NOT NULL, Type varchar(40) NOT NULL, BuildingPermit_id int REFERENCES BuildingPermit(id), CONSTRAINT PermitType_pk PRIMARY KEY (id))')

ProgrammingError: ERROR:  relation "permittype" already exists

In [34]:
#create address table
db.query('create table Address (id int NOT NULL, Street varchar(40) NOT NULL, Longitude varchar(40) NOT NULL, Latitude varchar(40) NOT NULL, BuildingPermit_id int REFERENCES BuildingPermit(id), CONSTRAINT Address_pk PRIMARY KEY (id))')

In [8]:
#create value table
db.query('create table Value (id int NOT NULL, ValueAmount money NOT NULL, BuildingPermit_id int REFERENCES BuildingPermit(id), CONSTRAINT Value_pk PRIMARY KEY (id))')

In [37]:
#create date table
db.query('create table Date (id int NOT NULL, ApplicationDate varchar(40), IssueDate varchar(40), ExpirationDate varchar(40), BuildingPermit_id int REFERENCES BuildingPermit(id), CONSTRAINT Date_pk PRIMARY KEY (id))')

In [31]:
db.query('drop table ApplicantName')

In [62]:
buildingPermit_list = ["1, 'Demo', '123456'"]
for permit in buildingPermit_list:
    db.query("""INSERT INTO buildingPermit VALUES (%s)""" %permit)

In [68]:
address_list = ["1, '1234 king st', 'seattle', 'WA' "]
for address in address_list:
    db.query("""INSERT INTO Address VALUES (%s)""" %address)

In [69]:
value_list = ["1, 1000000 "]
for value in value_list:
    db.query("""INSERT INTO Value VALUES (%s)""" %value)

In [70]:
applicantName_list = ["1, 'denny', 'oh'"]
for name in applicantName_list:
    db.query("""INSERT INTO ApplicantName VALUES (%s)""" %name)

In [71]:
print db.query('select * from applicantName')

applicatntnameid|firstname|lastname|buildingpermitid_id
----------------+---------+--------+-------------------
               1|denny    |oh      |
(1 row)